body {
    background-color: #e6dcdc;
    color: black;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

.controls {
    margin-bottom: 20px;
}

/* La graella de 10x10 */
#grid-container {
    display: grid;
    grid-template-columns: repeat(10, 30px); /* 10 columnes de 30px */
    grid-template-rows: repeat(10, 30px);    /* 10 files de 30px */
    gap: 2px; /* Espai entre cel·les */
    border: 5px solid #333;
    background-color: #333;
}

/* Estil base de cada cel·la */
.cell {
    width: 30px;
    height: 30px;
    background-color: #34c534; /* Color per defecte (fons) */
    transition: background-color 0.3s;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 25px;
    font-weight: bold;
}

/* Color quan la cel·la està "pintada" */
.cell.mina {
    background-color: #e63333;

}
.cell.bandera {
    align-content: space-around;
    transition: background-color 0.3s;

}

.cell.active2 {
    background-color: #ffffff; /
    transition: background-color 0.3s;

}

div{
    align-items: center;
}

.cell:hover {
    background-color: #978e8e;
}